@model Student
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="~/css/style.css">
    <title>Thanks</title>
    
</head>
<body>
    
    <h2>Merhaba, @Model.Name</h2>
    <hr>
    @if(Model.Confirm == true){
        <span>
            Sizi aramızda görmekten multu olduk
        </span>
        <div>
        Diğer Katılımcıları <a asp-action="List"> görüntüle.</a>
        </div>
    }
    else{
        <span>
            Üzgünüz lütfen beğenmediğiniz konuları bizimle paylaşınız
        </span>
    }
</body>
</html>